<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>FileUploadDownload.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>FileUploadDownload.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ReadFolder</servlet-name>
    <servlet-class>FileUploadDownload.ReadFolder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadFolder</servlet-name>
    <url-pattern>/ReadFolder</url-pattern>
  </servlet-mapping>
</web-app>